// Noto Sans
@font-face {
  font-family: Noto Sans;
  src: url("~@fonts/NotoSans-Thin.ttf") format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans;
  src: url("~@fonts/NotoSans-Light.ttf") format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans;
  src: url("~@fonts/NotoSans-ExtraLight.ttf") format('ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans;
  src: url("~@fonts/NotoSans-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans;
  src: url("~@fonts/NotoSans-Medium.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans;
  src: url("~@fonts/NotoSans-SemiBold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans;
  src: url("~@fonts/NotoSans-Bold.ttf") format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans;
  src: url("~@fonts/NotoSans-ExtraBold.ttf") format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans;
  src: url("~@fonts/NotoSans-Black.ttf") format('ttf');
  font-weight: 900;
  font-style: normal;
}

// Noto Sans JP
@font-face {
  font-family: Noto Sans JP;
  src: url("~@fonts/NotoSansJP-Thin.ttf") format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans JP;
  src: url("~@fonts/NotoSansJP-Light.ttf") format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans JP;
  src: url("~@fonts/NotoSansJP-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans JP;
  src: url("~@fonts/NotoSansJP-Medium.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans JP;
  src: url("~@fonts/NotoSansJP-SemiBold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans JP;
  src: url("~@fonts/NotoSansJP-Bold.ttf") format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans JP;
  src: url("~@fonts/NotoSansJP-ExtraBold.ttf") format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Noto Sans JP;
  src: url("~@fonts/NotoSansJP-Black.ttf") format('ttf');
  font-weight: 900;
  font-style: normal;
}