@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixin.scss" as *;

// Mixin containing all block styles
// This allows reuse in both theme and editor contexts
@mixin block-styles {
  
}

// Apply block styles at root level for theme
@include block-styles;
