@import "../theme/_variables.scss";
@import "../theme/_mixin.scss";
@import "../theme/blocks/**.scss";
@import "../theme/main/**.scss";

.featured_image.column-featured_image {
    a {
        display: block;
    }
    img {
        width: 100%;
        height: auto;
        max-width: 10rem;
    }
}
