@use "../theme/abstracts/variables.scss" as *;
@use "../theme/abstracts/mixin.scss" as *;

#wpadminbar {
  padding: 0 10px 0 0;
  left: 160px;
  right: 0;
  height: min-content;
  width: auto;
  z-index: 9998;

  @include maxWidth($lg) {
    height: 36px;
  }

  @include maxWidth($sm) {
    padding: 0;
  }

  ul#wp-admin-bar-root-default>li {
    margin-right: 30px;
  }
  
  .logo-admin-bar {
    max-height: 1.2rem;
  }
  #wp-admin-bar-logo_author a {
    display: flex;
    align-items: center;
  }
  
  #wp-admin-bar-user-info {
    span {
      height: auto !important;
    }

    .username {
      display: none;
    }

    .display-name {
      line-height: 1em !important;
      margin-bottom: 8px !important;
    }

    .avatar {
      top: -7px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #fff !important;
    }
  }
}