header {
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    z-index: 9998;

    .inner-header {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        img {
            max-width: 18rem;
        }
    }

    .content-menu {
        padding: 2rem clamp(2rem, 19%, 5rem);
        display: flex;
        column-gap: 2rem;
        background-color: #fff;
        border-radius: 3rem;
    }

    .nav_menu {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        @include ulReset;
    }

    .language {
        .global {
            height: 0;
            visibility: hidden;
        }
    }
}
