.swiper {
  position: relative;
  overflow: hidden;
}

.modal-backdrop.show {
  z-index: 9998;
}

// Slider block
// -------------------------
.slider-block {
  padding-top: 0;
  padding-bottom: 0;

  .sliders {
    position: relative;

    .swiper-wrapper {
      position: relative;
      overflow: hidden;

      .swiper-slide {
        max-height: 75rem;
        img {
          max-height: 75rem;
        }
      }
    }

    .swiper-pagination-bullets {
      position: absolute;
      bottom: 0;
      padding: 1.2rem 0;

      .swiper-pagination-bullet {
        width: 1.3rem;
        height: 1.3rem;
        text-align: center;
        opacity: 0.5;
        background: #fff;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
      }

      @include mediaMaxWidth($sm) {
        padding: 1.5rem 0;

        .swiper-pagination-bullet {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}

// Service block
// -------------------------
.service-block {
  .swiper {
    padding: 2rem 0;
  }
  .swiper-slide {
    background: #fff;
    padding: 3rem 2rem;
    box-shadow: 0px 1rem 1.5rem 0px rgba(0, 0, 0, 0.1);

    @include mediaMaxWidth($md) {
      padding: 2rem 1rem;
    }
  }
  .item {
    .content {
      .title {
        font-size: clamp(1.8rem, 2.5vw, 2.6rem);
        line-height: 1.2em;
        font-weight: 700;
        transition: all 0.5s ease-in-out;
      }
      p {
        font-size: clamp(1.6rem, 2.5vw, 2rem);
        line-height: 1.2em;
        transition: all 0.5s ease-in-out;
      }
    }

    .icon {
      margin: 0 auto;
      margin-bottom: 3.5rem;
      width: 17.2rem;
      height: 17.2rem;
      line-height: 17.2rem;
      border-radius: 50%;
      background-color: #eef4fb;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mediaMaxWidth($md) {
        margin-bottom: 2rem;
        width: 14rem;
        height: 14rem;
      }

      @include mediaMaxWidth($sm) {
        width: 12rem;
        height: 12rem;
      }

      svg {
        width: 7.4rem;
        height: 7.4rem;
      }
    }
  }
}

// Team block
// -------------------------
.team-block {
  figure {
    margin: 0 auto;
    position: relative;
    width: 19.6rem;
    height: 19.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMaxWidth($md) {
      width: 15rem;
      height: 15rem;
    }

    @include mediaMaxWidth($sm) {
      width: 12rem;
      height: 12rem;
    }

    .border-container {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 3px dashed #fff;
    }
    img {
      width: 19.6rem;
      height: 19.6rem;
      padding: 0.5rem;
      border-radius: 50%;
      transition: all 0.5s ease-in-out;

      @include mediaMaxWidth($md) {
        width: 15rem;
        height: 15rem;
      }

      @include mediaMaxWidth($sm) {
        width: 12rem;
        height: 12rem;
      }
    }
  }

  .member {
    .inner {
      margin-bottom: 2rem;
      padding: 2.8rem 3rem;
      border-radius: 3rem;
      text-align: center;

      @include mediaMaxWidth($md) {
        padding: 2rem 2rem;
      }
    }

    .name {
      font-size: clamp(1.7rem, 2.5vw, 2.6rem);
      line-height: 1.5em;
      font-weight: 700;
      transition: all 0.5s ease-in-out;
    }
    .position {
      font-size: clamp(1.6rem, 2.5vw, 1.8rem);
      line-height: 1.5em;
      font-weight: 500;
      transition: all 0.5s ease-in-out;
    }

    svg {
      margin-top: 3rem;
      width: 6rem;
      height: 6rem;
      fill: $primaryColor;
      transition: all 0.5s ease-in-out;

      @include mediaMaxWidth($md) {
        margin-top: 1rem;
        width: 4.5rem;
        height: 4.5rem;
      }
    }

    &:hover {
      .inner {
        background-color: transparent;
      }
      figure {
        .border-container {
          animation: rotate 10s linear infinite;
        }

        img {
          transform: scale(0.9);
        }
      }
      svg {
        fill: #fff;
        transform: rotate(-45deg);
      }
    }
  }

  .modal {
    &.show {
      z-index: 9999;
    }
    .modal-dialog {
      max-width: 120rem !important;
      max-height: 80%;

      @include mediaMaxWidth($md) {
        height: 1vh !important;
      }
    }
    .modal-content,
    .row {
      height: 100%;
    }
    .modal-body {
      padding: 0;
      position: relative;
      height: 100%;

      .btn-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 99;
      }

      .inner {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 100%;

        @include mediaMaxWidth($md) {
          grid-template-columns: 1fr;
        }

        .left-column {
          position: relative;
          overflow: hidden;
          z-index: 1;
          padding: 3rem 2rem 2rem;

          @include mediaMaxWidth($md) {
            padding: 1rem;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(0, 92, 234, 1) 0%, rgba(0, 197, 251, 1) 100%) !important;
            opacity: 1;
            z-index: -1;
            transition: all 0.5s ease-in-out;
          }
          .border-container {
            animation: rotate 10s linear infinite;
          }
        }

        .right-column {
          padding: 2.5rem;
          max-height: 100%;
          overflow-y: auto; /* Enable vertical scroll */

          @include mediaMaxWidth($md) {
            padding: 1rem;
          }
        }
      }

      .info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .name {
          padding: 1.2rem 0;
          font-size: clamp(2rem, 2.5vw, 2.6rem);
        }
        .position {
          display: block;
          font-size: clamp(1.6rem, 2.5vw, 2rem);
          font-weight: 600;
        }
        .socials {
          display: flex;
          justify-content: center;
          column-gap: 1.2rem;
          list-style: none;
          margin-top: auto;
          padding-bottom: 10px;
          svg {
            width: 2.8rem;
            height: 2.8rem;
            fill: #fff;
            transition: all 0.5s ease-in-out;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }

      .info-list {
        ul {
          list-style: none;
          margin-top: 0;
          padding-left: 0;

          li {
            margin-bottom: 0.8rem;
            padding: 0.8rem 0;
            position: relative;
            display: block;
            width: auto;
            font-size: 16px;
            word-break: break-word;
            text-align: right;

            &::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
            }

            span {
              float: left;
              display: inline-block;
              font-size: 1.5rem;
              text-transform: none;
            }
          }
        }
      }

      .details {
        .content {
          padding: 3rem 0;

          @include mediaMaxWidth($md) {
            padding: 1rem 0;
          }

          .icon svg {
            width: 2.8rem;
            height: 2.8rem;
            fill: $primaryColor;
            margin-right: 1rem;
          }

          h5 {
            font-size: clamp(1.6rem, 2.5vw, 1.7rem);
            line-height: 1.1em;
            text-transform: uppercase;
            color: #323232;
          }

          .title {
            padding-bottom: 1rem;
            position: relative;
            display: flex;
            align-items: center;
          }
        }

        .content-item {
          padding: 2rem 0 1rem;
          &.active {
            .time {
              color: $primaryColor;
              border-color: $primaryColor;
            }
          }
        }
        .time {
          margin: 0 0 0.8rem 0;
          padding: 0 5px;
          display: inline-block;
          font-size: 1.3rem;
          line-height: 1.5em;
          color: #ccc;
          font-weight: 400;
          text-transform: none;
          border: 1px solid #eeeeee;
        }
        .company {
          font-size: clamp(1.6rem, 2.5vw, 1.7rem);
          color: #323232;
          font-weight: 500;
        }
        .position {
          margin: 0 0 1.1rem 0;
          font-size: clamp(1.3rem, 2.5vw, 1.4rem);
          color: #999999;
          font-weight: 400;
        }

        .skills {
          .content-item ul {
            list-style: none;
            .skill {
              margin-bottom: 1.5rem;
              position: relative;
              width: 100%;
              background-color: #ddd;
              span {
                position: absolute;
                top: 50%;
                left: 0.5rem;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1em;
                color: #fff;
                transform: translate(0, -50%);
              }

              &:nth-child(odd) {
                .bar {
                  background-color: $primaryColor;
                }
              }
              &:nth-child(even) {
                .bar {
                  background-color: $primaryColor;
                }
              }

              .bar {
                padding: 0.2rem 0;
                text-align: right;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

// Testimonial block
// -------------------------
.testimonial-block {
  .testimonial {
    .swiper-slide {
      padding: 2rem 3rem 4rem 2.8rem;
      height: 100%;
      overflow: hidden;
      background-color: #f5f9ff;
      z-index: 1;

      figure {
        margin-right: 23px;
        position: relative;
        width: 11rem;
        height: 11rem;
        .border-container {
          position: absolute;
          width: 100%;
          height: 100%;

          border-radius: 50%;
          border: 3px dashed #fff;
          animation: rotate 10s linear infinite;
        }
        img {
          padding: 1rem;
          width: 11rem;
          height: 11rem;
          background-color: $primaryColor;
          border-radius: 50%;
          transition: all 0.5s ease-in-out;
        }
      }
      .info {
        .name {
          font-size: 25px;
          line-height: 37px;
          font-weight: 700;
          color: #0d2235;
          margin-bottom: 6px;
        }
        .expertise {
          margin-bottom: 3px;
        }
      }
      .review {
        margin-top: 2.5rem;
        font-size: clamp(1.6rem, 2.5vw, 1.8rem);
        line-height: 1.3em;
      }
      .shield {
        position: absolute;
        width: 13rem;
        height: auto;
        display: inline-block;
        border-radius: 50%;
        top: 0;
        right: -4rem;
        z-index: -1;
        svg {
          opacity: 0.5;
        }
      }
    }
  }
}

// Contact block
// -------------------------
.contact-block {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;

  .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(13, 34, 53, 0.9);
    z-index: -2;
  }
  .info {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .contact-info {
    margin-bottom: 20px;
  }

  .map {
    flex-grow: 1;
    height: 100%;
    min-height: 33.8rem;

    @include mediaMaxWidth($md) {
      margin-bottom: 5rem;
      display: none;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  #contactform {
    padding: 4rem 6.5rem 4rem 6rem;
    border: 2px solid #2a3a4a;
    border-radius: 5px;
    background-color: rgba(13, 34, 53, 0.7);

    @include mediaMaxWidth($sm) {
      padding: 4rem 2rem;
    }

    h3.title {
      font-size: clamp(1.6rem, 2.5vw, 1.8rem);
      line-height: 1.5em;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 4rem;
    }
    .form-group {
      margin-bottom: 2rem;
      position: relative;

      svg {
        position: absolute;
        top: 1.75rem;
        right: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        fill: $primaryColor;
      }
      textarea {
        padding: 1.75rem 5rem 1.75rem 2rem;
        height: 19rem;
      }
      input {
        height: 6rem;
      }
    }
    input,
    textarea {
      padding: 0 5rem 0 2rem;
      position: relative;
      display: block;
      width: 100%;
      line-height: 1.5em;
      color: #333;
      font-size: 1.5rem;
      font-weight: 400;
      border: 1px solid #d8e2eb;
      background-color: #fff;
      border-radius: 0.5rem;
    }
    .submit {
      padding: 17px 40px 21px 40px;
      position: relative;
      text-transform: capitalize;
      line-height: 24px;
      width: 100%;
      color: #fff;
      background: #006aec;
      background-size: 200% auto;
      background-image: linear-gradient(to right, #005cea 0%, #00c5fb 50%, #005cea 100%);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;

      &:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
